@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test task</title>
</head>
<body>

    <div>
        <h3>Форма добавления данных</h3>
        <form method="post" action="">
            @*<input type="hidden" value="@ViewBag.BookId" name="BookId" />*@
            <table>
                <tr>
                    <td colspan="2">
                        Показатели Заемщика
                    </td>
                    <td>
                        Валюта
                    </td>
                    <td>
                        ИНДЕКСЫ
                    </td>
                </tr>
                <tr>
                    <td>
                        Дата
                    </td>
                    <td>
                        Выручка
                    </td>
                    <td>
                        серебро, руб.
                    </td>
                    <td>Индекс ММВБ Last</td>
                </tr>
                <tr>
                <td>
                    <input type="Date" name="BusinessDay"/>
                </td>
                <td>
                    <input type="text" name="Profit" />
                </td>
                <td>
                    <input type="text" name="SilverPrice" />
                </td>
                <td>
                    <input type="text" name="MoexPrice" />
                </td>
                <tr>
            </table>
            <input type="submit" value="Отправить" />
        </form>
    </div>


    <div>
        <h3>Test task</h3>
        <table>
            <tr>
                <td colspan="2">
                    Показатели Заемщика
                </td>
                <td>
                    Валюта
                </td>
                <td>
                    ИНДЕКСЫ
                </td>
            </tr>
            <tr>
                <td>
                    Дата
                </td>
                <td>
                    Выручка
                </td>
                <td>
                    серебро, руб.
                </td>
                <td>Индекс ММВБ Last</td>
            </tr>
            @foreach (var d in ViewBag.Data)
            {
                <tr>
                    <td>
                        @d.BusinessDay.ToShortDateString()
                    </td>
                    <td>
                        @d.Profit
                    </td>
                    <td>
                        @d.SilverPrice
                    </td>
                    <td>
                        @d.MoexPrice
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>